In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

In [38]:
data = pd.read_csv('new1.csv')
print(data.head())

   Unnamed: 0              date symbol        open       close         low  \
0           0  05-01-2016 00:00   WLTW  123.430000  125.839996  122.309998
1           1  06-01-2016 00:00   WLTW  125.239998  119.980003  119.940002
2           2  07-01-2016 00:00   WLTW  116.379997  114.949997  114.930000
3           3  08-01-2016 00:00   WLTW  115.480003  116.620003  113.500000
4           4  11-01-2016 00:00   WLTW  117.010002  114.970001  114.089996

         high   volume
0  126.250000  2163600
1  125.540001  2386400
2  119.739998  2489500
3  117.440002  2006300
4         NaN  1408600

In [39]:
print(data.describe())

       Unnamed: 0        open       close         low        high  \
count    50.00000   50.000000   49.000000   50.000000   47.000000
mean     24.50000  113.906800  113.966122  112.023400  115.461915
std      14.57738    3.892047    3.907816    3.857870    3.718608
min       0.00000  105.629997  107.129997  104.110001  109.260002
25%      12.25000  111.207498  111.000000  109.657499  112.685001
50%      24.50000  113.364998  113.320000  111.180000  114.879997
75%      36.75000  116.439999  116.620003  114.822500  117.405002
max      49.00000  125.239998  125.839996  122.309998  126.250000

             volume
count  5.000000e+01
mean   9.988980e+05
std    5.144256e+05
min    4.112000e+05
25%    6.806250e+05
50%    8.962000e+05
75%    1.178725e+06
max    2.489500e+06

In [40]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  50 non-null     int64
 1   date        50 non-null     object
 2   symbol      50 non-null     object
 3   open        50 non-null     float64
 4   close       49 non-null     float64
 5   low         50 non-null     float64
 6   high        47 non-null     float64
 7   volume      50 non-null     int64
dtypes: float64(4), int64(2), object(2)
memory usage: 3.2+ KB
None

In [42]:
data.dropna(inplace=True)
data.fillna(1,inplace=True)
data['high'] = data['high'].fillna(data['high'].median())
data

,Unnamed: 0,date,symbol,open,close,low,high,volume
0,0,05-01-2016 00:00,WLTW,123.430000,125.839996,122.309998,126.250000,2163600
1,1,06-01-2016 00:00,WLTW,125.239998,119.980003,119.940002,125.540001,2386400
2,2,07-01-2016 00:00,WLTW,116.379997,114.949997,114.930000,119.739998,2489500
3,3,08-01-2016 00:00,WLTW,115.480003,116.620003,113.500000,117.440002,2006300
5,5,12-01-2016 00:00,WLTW,115.510002,115.550003,114.500000,116.059998,1098000
6,6,13-01-2016 00:00,WLTW,116.459999,112.849998,112.589996,117.070000,949600
7,7,14-01-2016 00:00,WLTW,113.510002,114.379997,110.050003,115.029999,785300
8,8,15-01-2016 00:00,WLTW,113.330002,112.529999,111.919998,114.879997,1093700
9,9,19-01-2016 00:00,WLTW,113.660004,110.379997,109.870003,115.870003,1523500
11,11,21-01-2016 00:00,WLTW,109.730003,110.000000,108.320000,110.580002,944300
12,12,22-01-2016 00:00,WLTW,111.879997,111.949997,110.190002,112.949997,744900
13,13,25-01-2016 00:00,WLTW,111.320000,110.120003,110.000000,114.629997,703800
14,14,26-01-2016 00:00,WLTW,110.419998,111.000000,107.300003,111.400002,563100
15,15,27-01-2016 00:00,WLTW,110.769997,110.709999,109.019997,112.570000,896100
17,17,29-01-2016 00:00,WLTW,113.349998,114.470001,111.669998,114.589996,749900
18,18,01-02-2016 00:00,WLTW,114.000000,114.500000,112.900002,114.849998,574200
20,20,03-02-2016 00:00,WLTW,113.379997,114.050003,109.639999,114.639999,896300
21,21,04-02-2016 00:00,WLTW,114.080002,115.709999,114.080002,116.320000,956300
22,22,05-02-2016 00:00,WLTW,115.120003,114.019997,109.709999,116.489998,997100
23,23,08-02-2016 00:00,WLTW,113.300003,111.160004,110.459999,113.300003,1200500
24,24,09-02-2016 00:00,WLTW,111.169998,110.650002,109.639999,112.110001,1725200
25,25,10-02-2016 00:00,WLTW,106.730003,107.519997,106.360001,112.110001,1946000
26,26,11-02-2016 00:00,WLTW,105.629997,107.129997,104.110001,109.260002,1319500
27,27,12-02-2016 00:00,WLTW,108.559998,107.839996,107.070000,109.430000,922400
28,28,16-02-2016 00:00,WLTW,109.110001,110.769997,107.010002,111.300003,1185100
29,29,17-02-2016 00:00,WLTW,110.830002,111.239998,107.970001,112.110001,921500
30,30,18-02-2016 00:00,WLTW,111.120003,111.599998,108.930000,112.199997,440900
31,31,19-02-2016 00:00,WLTW,111.370003,110.330002,107.279999,112.400002,1244300
32,32,22-02-2016 00:00,WLTW,111.360001,113.040001,111.010002,113.230003,681300
33,33,23-02-2016 00:00,WLTW,112.370003,111.889999,111.349998,112.800003,411200
34,34,24-02-2016 00:00,WLTW,110.769997,111.559998,109.820000,112.489998,447300
35,35,25-02-2016 00:00,WLTW,111.599998,112.879997,110.750000,112.989998,559200
36,36,26-02-2016 00:00,WLTW,113.339996,112.750000,111.010002,114.180000,459900
37,37,29-02-2016 00:00,WLTW,113.040001,113.320000,111.650002,115.360001,971600
38,38,01-03-2016 00:00,WLTW,114.269997,115.510002,112.650002,115.570000,694100
39,39,02-03-2016 00:00,WLTW,115.349998,116.779999,115.199997,117.089996,1159600
40,40,03-03-2016 00:00,WLTW,116.489998,117.000000,115.419998,117.669998,884700
41,41,04-03-2016 00:00,WLTW,116.610001,117.190002,115.570000,117.480003,692000
42,42,07-03-2016 00:00,WLTW,116.050003,116.949997,115.989998,117.480003,898000
43,43,08-03-2016 00:00,WLTW,116.500000,116.709999,115.449997,117.370003,844500
44,44,09-03-2016 00:00,WLTW,117.050003,116.489998,115.500000,117.309998,796500
45,45,10-03-2016 00:00,WLTW,116.910004,116.820000,114.139999,118.000000,416800
46,46,11-03-2016 00:00,WLTW,117.930000,120.620003,116.629997,120.760002,590200
47,47,14-03-2016 00:00,WLTW,120.419998,120.629997,118.599998,121.040001,495100
48,48,15-03-2016 00:00,WLTW,119.839996,120.699997,118.089996,120.760002,515800
49,49,16-03-2016 00:00,WLTW,120.349998,120.820000,119.010002,121.040001,562100

In [32]:
data.dropna(inplace=True)
data.fillna(200,inplace=True)
data

,Unnamed: 0,date,symbol,open,close,low,high,volume,label
0,0,05-01-2016 00:00,WLTW,123.430000,125.839996,122.309998,126.250000,2163600,111.879997
1,1,06-01-2016 00:00,WLTW,125.239998,119.980003,119.940002,125.540001,2386400,111.320000
2,2,07-01-2016 00:00,WLTW,116.379997,114.949997,114.930000,119.739998,2489500,110.419998
3,3,08-01-2016 00:00,WLTW,115.480003,116.620003,113.500000,117.440002,2006300,110.769997
5,5,12-01-2016 00:00,WLTW,115.510002,115.550003,114.500000,116.059998,1098000,113.349998
6,6,13-01-2016 00:00,WLTW,116.459999,112.849998,112.589996,117.070000,949600,114.000000
7,7,14-01-2016 00:00,WLTW,113.510002,114.379997,110.050003,115.029999,785300,113.379997
8,8,15-01-2016 00:00,WLTW,113.330002,112.529999,111.919998,114.879997,1093700,114.080002
9,9,19-01-2016 00:00,WLTW,113.660004,110.379997,109.870003,115.870003,1523500,115.120003
11,11,21-01-2016 00:00,WLTW,109.730003,110.000000,108.320000,110.580002,944300,113.300003
12,12,22-01-2016 00:00,WLTW,111.879997,111.949997,110.190002,112.949997,744900,111.169998
13,13,25-01-2016 00:00,WLTW,111.320000,110.120003,110.000000,114.629997,703800,106.730003
14,14,26-01-2016 00:00,WLTW,110.419998,111.000000,107.300003,111.400002,563100,105.629997
15,15,27-01-2016 00:00,WLTW,110.769997,110.709999,109.019997,112.570000,896100,108.559998
17,17,29-01-2016 00:00,WLTW,113.349998,114.470001,111.669998,114.589996,749900,109.110001
18,18,01-02-2016 00:00,WLTW,114.000000,114.500000,112.900002,114.849998,574200,110.830002
20,20,03-02-2016 00:00,WLTW,113.379997,114.050003,109.639999,114.639999,896300,111.120003
21,21,04-02-2016 00:00,WLTW,114.080002,115.709999,114.080002,116.320000,956300,111.370003
22,22,05-02-2016 00:00,WLTW,115.120003,114.019997,109.709999,116.489998,997100,111.360001
23,23,08-02-2016 00:00,WLTW,113.300003,111.160004,110.459999,113.300003,1200500,112.370003
24,24,09-02-2016 00:00,WLTW,111.169998,110.650002,109.639999,112.110001,1725200,110.769997
25,25,10-02-2016 00:00,WLTW,106.730003,107.519997,106.360001,112.110001,1946000,111.599998
26,26,11-02-2016 00:00,WLTW,105.629997,107.129997,104.110001,109.260002,1319500,113.339996
27,27,12-02-2016 00:00,WLTW,108.559998,107.839996,107.070000,109.430000,922400,113.040001
28,28,16-02-2016 00:00,WLTW,109.110001,110.769997,107.010002,111.300003,1185100,114.269997
29,29,17-02-2016 00:00,WLTW,110.830002,111.239998,107.970001,112.110001,921500,115.349998

In [31]:
data['high'] = data['high'].fillna(data['high'].mean())
data

,Unnamed: 0,date,symbol,open,close,low,high,volume,label
0,0,05-01-2016 00:00,WLTW,123.430000,125.839996,122.309998,126.250000,2163600,111.879997
1,1,06-01-2016 00:00,WLTW,125.239998,119.980003,119.940002,125.540001,2386400,111.320000
2,2,07-01-2016 00:00,WLTW,116.379997,114.949997,114.930000,119.739998,2489500,110.419998
3,3,08-01-2016 00:00,WLTW,115.480003,116.620003,113.500000,117.440002,2006300,110.769997
5,5,12-01-2016 00:00,WLTW,115.510002,115.550003,114.500000,116.059998,1098000,113.349998
6,6,13-01-2016 00:00,WLTW,116.459999,112.849998,112.589996,117.070000,949600,114.000000
7,7,14-01-2016 00:00,WLTW,113.510002,114.379997,110.050003,115.029999,785300,113.379997
8,8,15-01-2016 00:00,WLTW,113.330002,112.529999,111.919998,114.879997,1093700,114.080002
9,9,19-01-2016 00:00,WLTW,113.660004,110.379997,109.870003,115.870003,1523500,115.120003
11,11,21-01-2016 00:00,WLTW,109.730003,110.000000,108.320000,110.580002,944300,113.300003
12,12,22-01-2016 00:00,WLTW,111.879997,111.949997,110.190002,112.949997,744900,111.169998
13,13,25-01-2016 00:00,WLTW,111.320000,110.120003,110.000000,114.629997,703800,106.730003
14,14,26-01-2016 00:00,WLTW,110.419998,111.000000,107.300003,111.400002,563100,105.629997
15,15,27-01-2016 00:00,WLTW,110.769997,110.709999,109.019997,112.570000,896100,108.559998
17,17,29-01-2016 00:00,WLTW,113.349998,114.470001,111.669998,114.589996,749900,109.110001
18,18,01-02-2016 00:00,WLTW,114.000000,114.500000,112.900002,114.849998,574200,110.830002
20,20,03-02-2016 00:00,WLTW,113.379997,114.050003,109.639999,114.639999,896300,111.120003
21,21,04-02-2016 00:00,WLTW,114.080002,115.709999,114.080002,116.320000,956300,111.370003
22,22,05-02-2016 00:00,WLTW,115.120003,114.019997,109.709999,116.489998,997100,111.360001
23,23,08-02-2016 00:00,WLTW,113.300003,111.160004,110.459999,113.300003,1200500,112.370003
24,24,09-02-2016 00:00,WLTW,111.169998,110.650002,109.639999,112.110001,1725200,110.769997
25,25,10-02-2016 00:00,WLTW,106.730003,107.519997,106.360001,112.110001,1946000,111.599998
26,26,11-02-2016 00:00,WLTW,105.629997,107.129997,104.110001,109.260002,1319500,113.339996
27,27,12-02-2016 00:00,WLTW,108.559998,107.839996,107.070000,109.430000,922400,113.040001
28,28,16-02-2016 00:00,WLTW,109.110001,110.769997,107.010002,111.300003,1185100,114.269997
29,29,17-02-2016 00:00,WLTW,110.830002,111.239998,107.970001,112.110001,921500,115.349998

In [34]:
forecast =10
data['label']=data['open'].shift(-forecast)
data

,Unnamed: 0,date,symbol,open,close,low,high,volume,label
0,0,05-01-2016 00:00,WLTW,123.430000,125.839996,122.309998,126.250000,2163600,111.879997
1,1,06-01-2016 00:00,WLTW,125.239998,119.980003,119.940002,125.540001,2386400,111.320000
2,2,07-01-2016 00:00,WLTW,116.379997,114.949997,114.930000,119.739998,2489500,110.419998
3,3,08-01-2016 00:00,WLTW,115.480003,116.620003,113.500000,117.440002,2006300,110.769997
5,5,12-01-2016 00:00,WLTW,115.510002,115.550003,114.500000,116.059998,1098000,113.349998
6,6,13-01-2016 00:00,WLTW,116.459999,112.849998,112.589996,117.070000,949600,114.000000
7,7,14-01-2016 00:00,WLTW,113.510002,114.379997,110.050003,115.029999,785300,113.379997
8,8,15-01-2016 00:00,WLTW,113.330002,112.529999,111.919998,114.879997,1093700,114.080002
9,9,19-01-2016 00:00,WLTW,113.660004,110.379997,109.870003,115.870003,1523500,115.120003
11,11,21-01-2016 00:00,WLTW,109.730003,110.000000,108.320000,110.580002,944300,113.300003
12,12,22-01-2016 00:00,WLTW,111.879997,111.949997,110.190002,112.949997,744900,111.169998
13,13,25-01-2016 00:00,WLTW,111.320000,110.120003,110.000000,114.629997,703800,106.730003
14,14,26-01-2016 00:00,WLTW,110.419998,111.000000,107.300003,111.400002,563100,105.629997
15,15,27-01-2016 00:00,WLTW,110.769997,110.709999,109.019997,112.570000,896100,108.559998
17,17,29-01-2016 00:00,WLTW,113.349998,114.470001,111.669998,114.589996,749900,109.110001
18,18,01-02-2016 00:00,WLTW,114.000000,114.500000,112.900002,114.849998,574200,110.830002
20,20,03-02-2016 00:00,WLTW,113.379997,114.050003,109.639999,114.639999,896300,NaN
21,21,04-02-2016 00:00,WLTW,114.080002,115.709999,114.080002,116.320000,956300,NaN
22,22,05-02-2016 00:00,WLTW,115.120003,114.019997,109.709999,116.489998,997100,NaN
23,23,08-02-2016 00:00,WLTW,113.300003,111.160004,110.459999,113.300003,1200500,NaN
24,24,09-02-2016 00:00,WLTW,111.169998,110.650002,109.639999,112.110001,1725200,NaN
25,25,10-02-2016 00:00,WLTW,106.730003,107.519997,106.360001,112.110001,1946000,NaN
26,26,11-02-2016 00:00,WLTW,105.629997,107.129997,104.110001,109.260002,1319500,NaN
27,27,12-02-2016 00:00,WLTW,108.559998,107.839996,107.070000,109.430000,922400,NaN
28,28,16-02-2016 00:00,WLTW,109.110001,110.769997,107.010002,111.300003,1185100,NaN
29,29,17-02-2016 00:00,WLTW,110.830002,111.239998,107.970001,112.110001,921500,NaN

In [35]:
data.dropna(inplace=True)
data

,Unnamed: 0,date,symbol,open,close,low,high,volume,label
0,0,05-01-2016 00:00,WLTW,123.430000,125.839996,122.309998,126.250000,2163600,111.879997
1,1,06-01-2016 00:00,WLTW,125.239998,119.980003,119.940002,125.540001,2386400,111.320000
2,2,07-01-2016 00:00,WLTW,116.379997,114.949997,114.930000,119.739998,2489500,110.419998
3,3,08-01-2016 00:00,WLTW,115.480003,116.620003,113.500000,117.440002,2006300,110.769997
5,5,12-01-2016 00:00,WLTW,115.510002,115.550003,114.500000,116.059998,1098000,113.349998
6,6,13-01-2016 00:00,WLTW,116.459999,112.849998,112.589996,117.070000,949600,114.000000
7,7,14-01-2016 00:00,WLTW,113.510002,114.379997,110.050003,115.029999,785300,113.379997
8,8,15-01-2016 00:00,WLTW,113.330002,112.529999,111.919998,114.879997,1093700,114.080002
9,9,19-01-2016 00:00,WLTW,113.660004,110.379997,109.870003,115.870003,1523500,115.120003
11,11,21-01-2016 00:00,WLTW,109.730003,110.000000,108.320000,110.580002,944300,113.300003
12,12,22-01-2016 00:00,WLTW,111.879997,111.949997,110.190002,112.949997,744900,111.169998
13,13,25-01-2016 00:00,WLTW,111.320000,110.120003,110.000000,114.629997,703800,106.730003
14,14,26-01-2016 00:00,WLTW,110.419998,111.000000,107.300003,111.400002,563100,105.629997
15,15,27-01-2016 00:00,WLTW,110.769997,110.709999,109.019997,112.570000,896100,108.559998
17,17,29-01-2016 00:00,WLTW,113.349998,114.470001,111.669998,114.589996,749900,109.110001
18,18,01-02-2016 00:00,WLTW,114.000000,114.500000,112.900002,114.849998,574200,110.830002

In [43]:
forecast =10
data['label']=data['open'].shift(-forecast)
print(data.head())
x =np.array(data.drop(['label'],1))
y = np.array(data['label'])
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=4)
print(len(x_train))
print(len(x_test))

   Unnamed: 0              date symbol        open       close         low  \
0           0  05-01-2016 00:00   WLTW  123.430000  125.839996  122.309998
1           1  06-01-2016 00:00   WLTW  125.239998  119.980003  119.940002
2           2  07-01-2016 00:00   WLTW  116.379997  114.949997  114.930000
3           3  08-01-2016 00:00   WLTW  115.480003  116.620003  113.500000
5           5  12-01-2016 00:00   WLTW  115.510002  115.550003  114.500000

         high   volume       label
0  126.250000  2163600  111.879997
1  125.540001  2386400  111.320000
2  119.739998  2489500  110.419998
3  117.440002  2006300  110.769997
5  116.059998  1098000  113.349998
34
12

C:\Users\Harish bhalaa\AppData\Local\Temp\ipykernel_5144\277252406.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  x =np.array(data.drop(['label'],1))